/* Game Board */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-image: url('/Users/deannaireland/Desktop/Milestone Project 1/TicTacToe/assets/images/background.png');
    background-size: 120%;
}

.restart {
    display: block;
    margin: 0 auto;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 305px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    font-size: 60px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px black;
    border: 5px solid pink;
    cursor: pointer;
    line-height: 100px;
}
